.pagination {
  float: right;
  margin-right: 25px;
}
.alert-data {
  font-size: 16px;
  padding: 15px;
}
.alert-data .no-data {
  font-weight: bold;
}
.min-number {
  min-width: 82px;
}
.min-year {
  min-width: 190px;
}
